<span style="letter-spacing: 2px; font-weight: bold; color: rgb(102, 164, 203); user-select: none; text-align: center;">PROA</span>
<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="chartPitchDataY" 
    [labels]="chartPitchLabelY" 
    [chartType]="chartPitchTypeY"
    [colors]="chartPitchColorY"
    [options]="chartPitchOptY"
    [plugins]="chartPitchPluginsY"
    [legend]="chartPitchLegendY">
    </canvas>
</div>
<span style="letter-spacing: 2px; font-weight: bold; color: rgb(102, 164, 203); user-select: none;">POPA</span>