<div class="container" style="padding-top: 1em; padding-bottom: 1em;">
    <h1>Bienvenido a wiSensor {{username}} </h1>
    <div style="margin: auto;">
        
        <div style="margin: 0 auto;" *ngIf="_perfil == 1">
            <li class="btnMain" [routerLink]="['/empresas']" style="cursor: pointer;">
                <fa-icon [icon]="faFish" class="iconMenu"></fa-icon>
            <span unselectable="on" class="btnText">Empresa</span></li>
            <li class="btnMain" [routerLink]="['/centros']" style="cursor: pointer;">
                <fa-icon [icon]="faMapMarker" class="iconMenu"></fa-icon><span unselectable="on" class="btnText">Centros</span></li>
            <li class="btnMain" [routerLink]="['/estaciones']" style="cursor: pointer;">
                <fa-icon [icon]="faChartLine" class="iconMenu"></fa-icon><span unselectable="on" class="btnText">Estaciones</span></li>
            <li class="btnMain" [routerLink]="['/genpacks']" style="cursor: pointer;">
                <fa-icon [icon]="faBattery" class="iconMenu"></fa-icon><span unselectable="on" class="btnText" style="letter-spacing: 1.5px !important;">Genpacks</span></li>
            <li class="btnMain" [routerLink]="['/radares']" style="cursor: pointer;">
                <fa-icon [icon]="faShield" class="iconMenu"></fa-icon><span unselectable="on" class="btnText" style="letter-spacing: 1.5px !important;">Seguridad</span></li>
            <li class="btnMain" [routerLink]="['/usuarios']" style="cursor: pointer;">
                <fa-icon [icon]="faUsers" class="iconMenu"></fa-icon><span unselectable="on" class="btnText">Usuarios</span></li>
            <li class="btnMain" [routerLink]="['/estructuras']" style="cursor: pointer;">
                <fa-icon [icon]="faShip" class="iconMenu"></fa-icon><span unselectable="on" class="btnText">Estructura</span></li>
        </div>

        <div style="margin: 0 auto;" *ngIf="_perfil == 2">
            <li class="btnMain" [routerLink]="['/centros']" style="cursor: pointer;">
                <fa-icon [icon]="faMapMarker" class="iconMenu"></fa-icon><span class="btnText">Centros</span></li>
            <li class="btnMain" [routerLink]="['/estaciones']" style="cursor: pointer;">
                <fa-icon [icon]="faChartLine" class="iconMenu"></fa-icon><span class="btnText">Estaciones</span></li>
            <li [routerLink]="['/listRadares']" class="btnMain" style="cursor: pointer;">
                <fa-icon [icon]="faShield" class="iconMenu"></fa-icon><span class="btnText">Seguridad</span></li>
            <li class="btnMain" [routerLink]="['/genpacks']" style="cursor: pointer;">
                <fa-icon [icon]="faBolt" class="iconMenu"></fa-icon><span unselectable="on" class="btnText" style="letter-spacing: 1.5px !important;">Generadores</span></li>
            <li class="btnMain" [routerLink]="['/usuarios']" style="cursor: pointer;">
                <fa-icon [icon]="faUsers" class="iconMenu"></fa-icon><span class="btnText">Usuarios</span></li>
            <li class="btnMain" [routerLink]="['/estructuras']" style="cursor: pointer;">
                <fa-icon [icon]="faShip" class="iconMenu"></fa-icon><span class="btnText">Estructura</span></li>
        </div>

        <div style="margin: 0 auto;" *ngIf="_perfil == 3">
            <li *ngIf="itemCentro.id_estacion != 0" class="btnMain" [routerLink]="['/estacion', itemCentro.id_estacion]" style="cursor: pointer;">
                <fa-icon [icon]="faWeather" class="iconMenu"></fa-icon><span class="btnText">Clima</span></li>
            <li *ngIf="itemCentro.id_genpack != 0" class="btnMain" [routerLink]="['/genpack', itemCentro.id_genpack]" style="cursor: pointer;">
                <fa-icon [icon]="faBolt" class="iconMenu"></fa-icon><span class="btnText">Energía</span></li>
            <li *ngIf="itemCentro.id_radar != 0" [routerLink]="['/radar', itemCentro.id_radar]" class="btnMain" style="cursor: pointer;">
                <fa-icon [icon]="faShield" class="iconMenu"></fa-icon><span class="btnText">Seguridad</span></li>
            <!-- <li class="btnMain" style="cursor: pointer;">
                <fa-icon [icon]="faShip" class="iconMenu"></fa-icon><span class="btnText">Estructura</span></li>     -->
            <li class="btnMain" [routerLink]="['/alertas']" style="cursor: pointer;">
                <fa-icon [icon]="faAlert" class="iconMenu"></fa-icon><span class="btnText">Alertas</span></li>
            <li class="btnMain" [routerLink]="['/configuracion']" style="cursor: pointer;">
                <fa-icon [icon]="faCog" class="iconMenu"></fa-icon><span class="btnText">Configuración</span></li>
        </div>

        <ul *ngIf="_perfil == 4 && itemCentro">
            <li *ngIf="itemCentro.id_estacion != 0" class="btnMain" [routerLink]="['/estacion', itemCentro.id_estacion]" style="cursor: pointer;">
                <fa-icon [icon]="faWeather" class="iconMenu"></fa-icon><span class="btnText">Clima</span></li>
            <li *ngIf="itemCentro.id_genpack != 0" class="btnMain" [routerLink]="['/genpack', itemCentro.id_genpack]" style="cursor: pointer;">
                <fa-icon [icon]="faBolt" class="iconMenu"></fa-icon><span class="btnText">Energía</span></li>
            <li *ngIf="itemCentro.id_radar != 0" [routerLink]="['/radar', itemCentro.id_radar]" class="btnMain" style="cursor: pointer;">
                <fa-icon [icon]="faShield" class="iconMenu"></fa-icon><span class="btnText">Seguridad</span></li>

            <li class="btnMain" [routerLink]="['/alertas']" style="cursor: pointer;">
                <fa-icon [icon]="faAlert" class="iconMenu"></fa-icon><span class="btnText">Alertas</span></li>
        </ul>
    </div>
</div>

<ng-template #dataNode let-modal class="modal-dark bg-dark" class="modal-dark bg-dark">
    <div class="text-center bg-dark">
        <h3>Seleccionar Radar</h3>
        <div class="radarBtn" *ngFor="let radar of radares"  [routerLink]="['/radar', radar.id]" (click)="modal.dismiss('Cross click')">
            {{radar.nombre}}
        </div>
    </div>
</ng-template>