
<div *ngIf="fecha" class="bg-dark">
    <div class="row">
        <div class="col-6" *ngIf="fecha">
            <google-map
                height="500px"
                width="100%"
                [zoom]="zoom"
                [center]="center"
                [options]="options"
                >
                    <map-marker
                    #markerElem
                    *ngFor="let marker of markers"
                    [position]="marker.position"
                    [label]="marker.label"
                    [title]="marker.title"
                    [options]="marker.options"
                    (mapClick)="clickedMarker(marker.position, marker.info)"
                    >
                    </map-marker>

                    <map-marker
                    #markerElem
                    *ngFor="let marker of traymarkers"
                    [position]="marker.position"
                    [label]="marker.label"
                    [title]="marker.title"
                    [options]="marker.options"
                    
                    >
                    </map-marker>
            </google-map>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">Fecha:<h4>{{fecha}}:00</h4></div>
                <div class="col-6 text-right">Eventos Hora / Día: <h3 style="color: rgb(255, 208, 0);">{{markers.length}} / {{totalDia}}</h3></div>
            </div>

            <div style="display: block">
                <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [colors]="barChartColor"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              </div>
            
            <div #dataMarker class="card bg-dark" style="display: none; padding: 5px;">
                (<span style="color: chartreuse; font-weight: bold;">{{latCont}} </span>,
                <span style="color: chartreuse; font-weight: bold;">{{lonCont}}</span>) <br>
                <span style=" background-color: rgb(31, 145, 84); font-size: 9pt; text-transform: uppercase; padding: 3px; font-weight: bold;" *ngIf="claseContent=='person'">Persona</span>
                <span style=" background-color: rgb(18, 145, 150); font-size: 9pt; text-transform: uppercase; padding: 3px; font-weight: bold;" *ngIf="claseContent=='boatMedium'">Bote Mediano</span>
                <span style="display: block;">Fecha: {{fechaContent | fecha}}</span>
                <span style="display: block;">Distancia: {{distContent | truncar}} m</span>
                <span style="display: block;">Velocidad: {{velContent | truncar}} m/s</span>
                <span style="display: block;">Duración: {{timeContent}} s</span>
                <button style="display: block; cursor: pointer; background-color: rgb(240, 166, 8); font-size: 9pt; text-transform: uppercase; padding: 3px; font-weight: bold; color: black; border: none;" (click)="drawTray(id_header)">VER TRAYECTORIA</button>
            </div>
        </div>
    </div>
</div>