<div class="row">
    <h2>Editar unidad de Estructura</h2>
    <div class="col-md-6">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                <div *ngIf="submitted && f.nombre.errors">
                    <div *ngIf="f.nombre.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El nombre es obligatorio.</div>
                </div>
            </div>

            <div class="form-group">
                <label>Matrícula</label>
                <input type="text" formControlName="matricula" placeholder="Matrícula" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matricula.errors }">
                <div *ngIf="submitted && f.matricula.errors">
                    <div *ngIf="f.matricula.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La matricula es obligatoria.</div>
                </div>
            </div>

            <div *ngIf="perfilUser == 1" class="form-group">
                <label>Empresa</label>
                <select formControlName="empresa_id" class="form-control" (change)="changeCentros($event)">
                    <option *ngFor="let empresa of empresaList" value="{{empresa.id}}">{{empresa.nombre}}</option>
                </select>
                <div *ngIf="submitted && f.empresa_id.errors">
                    <div *ngIf="f.empresa_id.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar una empresa.</div>
                </div>
            </div>
    
            <div *ngIf="perfilUser == 2 && empresaUser" class="form-group">
                <label>Empresa</label>
                <select formControlName="empresa_id" class="form-control">
                    <option value="{{idEmpresa}}">{{empresaUser.nombre}} </option>
                </select>
                <div *ngIf="submitted && f.empresa_id.errors">
                    <div *ngIf="f.empresa_id.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar una empresa.</div>
                </div>
            </div>

            <div class="form-group">
                <label>Centro</label>
                <select formControlName="id_centro" class="form-control">
                    <option *ngFor="let centro of centroList" value="{{centro.id}}">{{centro.nombre}}</option>
                </select>
                <div *ngIf="submitted && f.id_centro.errors">
                    <div *ngIf="f.id_centro.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar un centro.</div>
                </div>
            </div>

            <div style="padding-top: 1em;">
                <button (click)="volver()" type="button" class="noselect"> <fa-icon [icon]="faBack"></fa-icon> Volver</button>
                <button type="submit" class="noselect"> <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Módulos de la Estructura</h3>

        <div *ngIf="ponton" class="card-body blackness">
            <div class="row">
                <div class="col-7">
                    <h4>{{ponton.nombre}}</h4>
                    <h5>{{ponton.tipo}}</h5>
                    <p>{{ponton.descripcion}}</p>
                </div>
                <div class="col-5">
                    <a class="btn btn-success" [routerLink]="['/editModulo', ponton.id]"><fa-icon [icon]="faEdit"></fa-icon></a>
                    <a class="btn btn-danger" (click)="deletePonton(ponton, ponton.id)" style="margin: 0.5em;">
                        <fa-icon [icon]="faTimes"></fa-icon></a>
                </div>
            </div>
        </div>

        <div *ngFor="let jaula of modulosJaulas" class="card-body blackness">
            <div class="row">
                <div class="col-7">
                    <h4>{{jaula.nombre}}</h4>
                    <h5>{{jaula.tipo}}</h5>
                    <p>{{jaula.descripcion}}</p>
                </div>
                <div class="col-5">
                    <a class="btn btn-success" [routerLink]="['/editModulo', jaula.id]"><fa-icon [icon]="faEdit"></fa-icon></a>
                    <a class="btn btn-danger" (click)="delete(jaula, jaula.id)" style="margin: 0.5em;">
                        <fa-icon [icon]="faTimes"></fa-icon></a>
                </div>
            </div>
        </div>
        <p *ngIf="!ponton && modulosJaulas.length == 0" style="color: rgb(161, 168, 168); font: 1.5em sans-serif; padding-top: 2em; text-align: center;">Presione Agregar para asignar un nuevo módulo a la estructura</p>
        <button (click)="enviarId(_id)" [routerLink]="['/addModulo']" type="button" class="noselect"> <fa-icon [icon]="faBack"></fa-icon> Agregar</button>
    </div>

</div>

