

<div style="margin: 0 auto; height: 100%; vertical-align: middle;">
    <radial-gauge
        type="radial-gauge"
        major-ticks="N,NE,E,SE,S,SW,W,NW,N"
        minor-ticks="15"
        ticks-angle="360"
        start-angle="180"
        width="240"
        height="240"
        min-value="0"
        max-value="360"
        stroke-ticks="false"
        highlights="false"
        color-plate="rgb(42, 42, 42, 0)"
        color-major-ticks="rgb(193, 209, 214)"
        color-minor-ticks="rgb(84, 144, 154)"
        color-numbers="#ccc"
        color-needle="#e0390b"
        color-needle-end="#e0390b"
        value-box="false"
        value-text-shadow="false"
        color-circle-inner="#e0390b"
        color-needle-circle-outer="rgb(84, 144, 154)"
        needle-circle-size="12"
        needle-circle-outer="false"
        animation-rule="linear"
        needle-type="line"
        needle-start="0"
        needle-end="70"
        needle-width="3"
        borders="true"
        border-inner-width="0"
        border-middle-width="0"
        border-outer-width="0"
        color-border-outer="#fff"
        color-border-outer-end="#000"
        color-needle-shadow-down="#111"
        border-shadow-width="0"
        animation-duration="800"
        animate-on-init="true"
        [attr.value] = "value"
    ></radial-gauge>
    <span style="border-radius: 3px; font-size: 2.6em; color: rgb(193, 209, 214); padding: 5px; display: block; width: 85%; margin: 0 auto"> {{angle}}° </span>
</div>
