<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Puerta / Ventana</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sala de Máquinas 1</td>
            <td><fa-icon [icon]="faOk" style="color: rgb(126, 231, 21);"></fa-icon> </td>
        </tr>
        <tr>
            <td>Sala de Máquinas B</td>
            <td><fa-icon [icon]="faOk" style="color: rgb(126, 231, 21);"></fa-icon> </td>
        </tr>

    </tbody>
</table>
