<div class="row w100">
    <div class="col-3 text-center" *ngIf="tipoLuna && tipoLuna == 'Nueva'" style="padding-top: 1.5em;">
        <img src="../../../assets/img/nueva.png" alt="" srcset="" height="60px" >
        <span style="font-weight: bold; display: block;"> {{tipoLuna}}</span> <br>
    </div>
    <div class="col-3 text-center" *ngIf="tipoLuna && tipoLuna == 'Llena'" style="padding-top: 1.5em;">
        <img src="../../../assets/img/llena.png" alt="" srcset="" height="60px" >
        <span style="font-weight: bold; display: block;"> {{tipoLuna}}</span> <br>
    </div>
    <div class="col-3 text-center" *ngIf="tipoLuna && tipoLuna == 'Creciente'" style="padding-top: 1.5em;">
        <img src="../../../assets/img/creciente.png" alt="" srcset="" height="60px" >
        <span style="font-weight: bold; display: block;"> {{tipoLuna}}</span> <br>
    </div>
    <div class="col-3 text-center" *ngIf="tipoLuna && tipoLuna == 'Menguante'" style="padding-top: 1.5em;">
        <img src="../../../assets/img/menguante.png" alt="" srcset="" height="60px" >
        <span style="font-weight: bold; display: block;"> {{tipoLuna}}</span> <br>
    </div>

    <div class="col-5">
        <span style="font-weight: bold; display: block;"> Puesta Sol:</span> 
        <span style="background-color: rgb(75, 72, 77); padding: 4px; font-weight: bold; font-size: 1.5em; letter-spacing: 2px;">{{lunas[1].puesta_sol}}</span> <br>
        <span style="font-weight: bold; display: block;"> Salida Sol:</span> 
        <span style="background-color: rgb(75, 72, 77); padding: 4px; font-weight: bold; font-size: 1.5em; letter-spacing: 2px;">{{lunas[1].salida_sol}}</span>
    </div>

    <div class="col-4" *ngIf="tipoLuna && tipoLuna == 'Nueva'">
        <span style="font-weight: bold;"> Luminosidad %</span>
        <span style="font-size: 3em; color: honeydew; display: block;">{{luzLuna}}</span>
    </div>
    
</div> 