<div class="text-center" style="margin-top: 1em;">
    <h1 style="font-weight:700; display: inline-block; padding: 3px; background-color: rgb(192, 27, 44);letter-spacing: 4px; font-size: 4em; color: white; box-shadow: 3px 3px 0px 0px black; width: auto; text-transform: uppercase;">404!</h1>
    <h1 style="font-weight: 700; color:rgb(138, 137, 138); letter-spacing: 4px; text-transform: uppercase">{{lema}}</h1>
    <div style="font-size: 18pt;">No importa, siempre puedes volver...</div>
    <div style="font-weight:700; display: inline-block; padding: 3px; background-color: rgb(192, 27, 44); cursor: pointer; letter-spacing: 4px; font-size: 1em; color: white; box-shadow: 3px 3px 0px 0px black; width: auto; text-transform: uppercase;"
    [routerLink]="['/welcome']">Volver</div>
  </div>
