<div class="row" style="background-color: rgb(58, 59, 61); margin: 0; padding: 3px; width: 100%; height: 30px; vertical-align: middle;">
    <div class="col-6" style="font-weight: bold;">Profundidad</div>
    <div class="col-6" style="font-weight: bold; text-align: right;">Temperatura</div>
</div>
<div class="row" style="background-color: rgb(99, 147, 202); margin: 0; padding: 3px; width: 100%; height: 60px; vertical-align: middle;">
    <div class="col-6 text-left" style="font-size: 1.6em; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.658); padding-top: 0.4em;">5 m</div>
    <div class="col-6" style="font-size: 2.5em; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.658); text-align: right;">2° C</div>
</div>
<div class="row" style="background-color: rgb(41, 85, 134); margin: 0; padding: 3px; width: 100%; height: 60px; vertical-align: middle;">
    <div class="col-6 text-left" style="font-size: 1.6em; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.658); padding-top: 0.4em;">10 m</div>
    <div class="col-6 text-right" style="font-size: 2.5em; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.658); text-align: right;">0° C</div>
</div>
<div class="row" style="background-color: rgb(36, 33, 82); margin: 0; padding: 3px; width: 100%; height: 60px; vertical-align: middle;">
    <div class="col-6 text-left" style="font-size: 1.6em; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.658); padding-top: 0.4em;">20 m</div>
    <div class="col-6 text-right" style="font-size: 2.5em; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.658); text-align: right;">-3° C</div>
</div>