
<div class="row">
    <h2>Editar Centro</h2>
    <div *ngIf="editForm && centro" class="col-md-6">
    
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" placeholder="Nombre Centro" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                <div *ngIf="submitted && f.nombre.errors">
                    <div *ngIf="f.nombre.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El nombre es obligatorio.</div>
                </div>
            </div>
    
            <div class="form-group">
                <label>Descripción</label>
                <input type="text" formControlName="descripcion" placeholder="Descripción del Centro" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                <div *ngIf="submitted && f.descripcion.errors">
                    <div *ngIf="f.descripcion.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La descripción es obligatoria.</div>
                </div>
            </div>
    
            <div class="form-group" *ngIf="perfilUser == 1">
                <label>Región</label>
                <select formControlName="region" class="form-control" [(ngModel)]="selectedRegion" (change)="changeComuna($event)">
                    <option *ngFor="let reg of regionesList" value="{{reg.region}}" selected>{{reg.region}}</option>
                </select>
                <div *ngIf="submitted && f.region.errors">
                    <div *ngIf="f.region.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar una región.</div>
                </div>
            </div>

            <div class="form-group">
                <label>Comuna <span style="font-size: 9pt;"> actual: {{centro.comuna}}</span> </label>
                <select formControlName="comuna" class="form-control">
                    <option *ngFor="let comuna of comunasList" value="{{comuna}}" selected>{{comuna}}</option>
                </select>
                <div *ngIf="submitted && f.comuna.errors">
                    <div *ngIf="f.comuna.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La comuna es obligatoria.</div>
                </div>
            </div>
            
            <div class="form-group" *ngIf="perfilUser == 1">
                <label>Latitud</label>
                <input type="number" formControlName="latitud" placeholder="Latitud" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.latitud.errors }">
                <div *ngIf="submitted && f.latitud.errors">
                    <div *ngIf="f.latitud.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La latitud es obligatoria.</div>
                </div>
            </div>
            <div class="form-group" *ngIf="perfilUser == 1">
                <label>Longitud</label>
                <input type="number" formControlName="longitud" placeholder="Longitud" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.longitud.errors }">
                <div *ngIf="submitted && f.longitud.errors">
                    <div *ngIf="f.longitud.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La longitud es obligatoria.</div>
                </div>
            </div>
    
            <div class="form-group" *ngIf="perfilUser == 1">
                <label>Estado</label>
                <select formControlName="status" class="form-control">
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <div *ngIf="submitted && f.status.errors">
                    <div *ngIf="f.status.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar un estado.</div>
                </div>
            </div>
    
            <div *ngIf="perfilUser == 1" class="form-group">
                <label>Empresa</label>
                <select formControlName="id_empresa" class="form-control">
                    <option *ngFor="let empresa of empresaList" value="{{empresa.id}}">{{empresa.nombre}}</option>
                </select>
                <div *ngIf="submitted && f.id_empresa.errors">
                    <div *ngIf="f.id_empresa.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar una empresa.</div>
                </div>
            </div>
    
            <div *ngIf="perfilUser == 2 && empresaUser" class="form-group">
                <label>Empresa</label>
                <select formControlName="id_empresa" class="form-control">
                    <option value="{{idEmpresa}}">{{empresaUser.nombre}} </option>
                </select>
                <div *ngIf="submitted && f.id_empresa.errors">
                    <div *ngIf="f.id_empresa.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar una empresa.</div>
                </div>
            </div>
    
    
            <div style="padding-top: 1em;">
                <button (click)="volver()" type="button" class="noselect"> <fa-icon [icon]="faBack"></fa-icon> Volver</button>
                <button type="submit" class="noselect"> <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
            </div>
        </form>
    </div>
    
    <div class="col-md-6">
        <google-map
        height="450px"
        width="90%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="click($event)">
            <map-marker
            #markerElem
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            >
            </map-marker>
        </google-map>
        <span style="color: grey; font-size: 9pt; font-family: Roboto;">Haga click en el mapa para obtener una ubicación referencial. <br>
            Se recomienda editar en los campos especificos para obtener la locación específica. </span>
    </div>

</div>