<table class="table table-dark table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th>Puerta / Ventana</th>
            <th>Estado</th>
            <th>Tiempo Último Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Puerta Exterior</td>
            <td><span style="background-color: rgb(20, 141, 60); border-radius: 3px; padding: 3px; font-size: 10pt; text-overflow: uppercase;"> Cerrado</span> </td>
            <td>1h 2m</td>
        </tr>
        <tr>
            <td>Puerta Cocina</td>
            <td><span style="background-color: rgb(20, 141, 60); border-radius: 3px; padding: 3px; font-size: 10pt; text-overflow: uppercase;"> Cerrado</span> </td>
            <td>1h 22m</td>
        </tr>
        <tr>
            <td>Ventana Cocina</td>
            <td><span style="background-color: rgb(212, 43, 13); border-radius: 3px; padding: 3px; font-size: 10pt; text-overflow: uppercase;"> Abierto</span> </td>
            <td>1h 5m</td>
        </tr>
        <tr>
            <td>Puerta Baño</td>
            <td><span style="background-color: rgb(20, 141, 60); border-radius: 3px; padding: 3px; font-size: 10pt; text-overflow: uppercase;"> Cerrado</span> </td>
            <td>21m</td>
        </tr>
        <tr>
            <td>Ventana Dormitorio 1</td>
            <td><span style="background-color: rgb(20, 141, 60); border-radius: 3px; padding: 3px; font-size: 10pt; text-overflow: uppercase;"> Cerrado</span> </td>
            <td>16m</td>
        </tr>
    </tbody>
</table>
