<div class="row">
    <h2>Agregar Módulo de Jaulas / Pontón</h2>
    <div class="col-md-6">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                <div *ngIf="submitted && f.nombre.errors">
                    <div *ngIf="f.nombre.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El nombre es obligatorio.</div>
                </div>
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <input type="text" formControlName="descripcion" placeholder="Matrícula" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                <div *ngIf="submitted && f.descripcion.errors">
                    <div *ngIf="f.descripcion.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La descripcion es obligatoria.</div>
                </div>
            </div>

            <div class="form-group" style="display: none;">
                <label>ID</label>
                <input type="text" formControlName="id_et_estructura" placeholder="ID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id_et_estructura.errors }">
                <div *ngIf="submitted && f.id_et_estructura.errors">
                    <div *ngIf="f.id_et_estructura.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La descripcion es obligatoria.</div>
                </div>
            </div>


            <div class="form-group">
                <label>Tipo</label>
                <select formControlName="tipo" class="form-control">
                    <option value="ponton">Pontón</option>
                    <option value="modulo">Módulo de Jaulas</option>
                </select>
                <div *ngIf="submitted && f.tipo.errors">
                    <div *ngIf="f.tipo.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar un Tipo.</div>
                </div>
            </div>

            <div style="padding-top: 1em;">
                <button (click)="volver()" type="button" class="noselect"> <fa-icon [icon]="faBack"></fa-icon> Volver</button>
                <button type="submit" class="noselect"> <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
            </div>
        </form>
    </div>

    <div class="col-md-6 text-center">
        <p style="color: rgb(161, 168, 168); font: 1.5em sans-serif; padding-top: 2em;">Los GPS asociados al módulo se agregan al momento de editar.</p>
    </div>

    
</div>
