<linear-gauge
    type="linear-gauge"
    width="280"
    height="90"
    min-value="-15"
    max-value="60"
    major-ticks="-15,0,15,30,45,60"
    highlights='false'
    minor-ticks="3"
    stroke-ticks="true"
    color-plate="rgba(42, 42, 42, 0)"
    border-shadow-width="0"
    borders="false"
    bar-begin-circle="false"
    tick-side="left"
    number-side="left"
    needle-side="left"
    needle-type="line"
    needle-width="3"
    color-needle="#f23607"
    color-needle-end="#fab30c"
    animation-duration="81500"
    animation-rule="linear"
    animation-target="plate"
    bar-width="8"
    ticks-width="20"
    color-units="#aaa"
    color-minor-ticks="#888"
    color-major-ticks="#888"
    color-numbers="#eee"
    color-bar= "#444"
    color-bar-progress="#e33a10"
    ticks-width-minor="15"
    [attr.value] = "value"
></linear-gauge>