<div class="row">
    <h2>Agregar nuevo Incidente de Alarma</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6">

        <div class="form-group">
            <label>Código</label>
            <input type="text" formControlName="codigo" placeholder="Código Incidente" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }">
            <div *ngIf="submitted && f.codigo.errors">
                <div *ngIf="f.codigo.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El código es obligatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Descripción</label>
            <input type="text" formControlName="descripcion" placeholder="Descripción" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
            <div *ngIf="submitted && f.descripcion.errors">
                <div *ngIf="f.descripcion.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">La descripción es obligatoria.</div>
            </div>
        </div>
        
        <div *ngIf="perfil_user == 2" class="form-group">
            <label>Centro</label>
            <select formControlName="centro" class="form-control" (change)="changeItems($event)">
                <option *ngFor="let centro of centroList" value="{{ centro.id }}">{{ centro.nombreCentro }} </option>
            </select>
            <div *ngIf="submitted && f.id_perfil.errors">
                <div *ngIf="f.id_perfil.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Por favor asigne un centro</div>
            </div>
        </div>

        <div class="form-group">
            <label>Estación</label>
            <select class="form-control" formControlName="tipoEstacion" (change)="getCodeStation($event)">
                <option *ngIf="itemList.id_genpack != null" value="Energia">Energía</option>
                <option *ngIf="itemList.id_estacion != null" value="Clima">Clima</option>
                <option *ngIf="itemList.id_radar != null" value="Radar">Radar</option>
            </select>
            <div *ngIf="submitted && f.tipoEstacion.errors">
                <div *ngIf="f.tipoEstacion.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar un centro.</div>
            </div>
        </div>
        
        <div class="form-group" style="display: none;">
            <label>Código Estación</label>
            <input type="text" formControlName="cod_estacion" placeholder="Descripción" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cod_estacion.errors }">
            <div *ngIf="submitted && f.cod_estacion.errors">
                <div *ngIf="f.cod_estacion.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El código es obligatorio.</div>
            </div>
        </div>

        <div class="form-group" style="display: none;">
            <label>ID Estación</label>
            <input type="text" formControlName="destino_id" placeholder="Descripción" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.destino_id.errors }">
            <div *ngIf="submitted && f.destino_id.errors">
                <div *ngIf="f.destino_id.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El código es obligatorio.</div>
            </div>
        </div>
        
        <div class="form-group" style="display: none;">
            <label>ID Estación</label>
            <input type="text" formControlName="destino" placeholder="Descripción" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.destino.errors }">
            <div *ngIf="submitted && f.destino.errors">
                <div *ngIf="f.destino.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">...</div>
            </div>
        </div>
        
        <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" formControlName="tipo">
                <option *ngFor="let tipo of tipos" value="{{tipo}}">{{tipo}}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Valor</label>
            <input type="number" formControlName="valor" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.valor.errors }">
            <div *ngIf="submitted && f.valor.errors">
                <div *ngIf="f.valor.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El valor es obligatorio.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Evaluación</label>
            <select class="form-control" formControlName="evaluacion">
                <option value="mayor">Mayor que</option>
                <option value="menor">Menor que</option>
            </select>
            <div *ngIf="submitted && f.evaluacion.errors">
                <div *ngIf="f.evaluacion.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">...</div>
            </div>
        </div>

        <div class="form-group">
            <label>Severidad</label>
            <select class="form-control" formControlName="severidad">
                <option value="warning">Advertencia</option>
                <option value="error">Crítica</option>
            </select>
            <div *ngIf="submitted && f.severidad.errors">
                <div *ngIf="f.severidad.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">....</div>
            </div>
        </div>

        <div style="padding-top: 1em;">
            <button (click)="volver()" type="button" class="noselect"> <fa-icon [icon]="faBack"></fa-icon> Volver</button>
            <button type="submit" class="noselect"> <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
        </div>
    </div>
</form>
</div>