<div class="container">
        <div *ngIf="editForm && userPwd" class="row">
            <h2>Editar Password: </h2>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        
                <div class="col-md-6">
        
                    <div class="form-group" style="display: none">
                        <label>Nombre</label>
                        <input type="text" formControlName="nombre" placeholder="Nombre Usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                        <div *ngIf="submitted && f.nombre.errors">
                            <div *ngIf="f.nombre.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El nombre es obligatorio.</div>
                        </div>
                    </div>
    
                    <div class="form-group" style="display: none">
                        <label>Apellido</label>
                        <input type="text" formControlName="apellido" placeholder="Apellido Centro" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }">
                        <div *ngIf="submitted && f.apellido.errors">
                            <div *ngIf="f.apellido.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El apellido es obligatorio.</div>
                        </div>
                    </div>
        
                    <div class="form-group" style="display: none">
                        <label>Username</label>
                        <input type="text" formControlName="usuario" placeholder="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
                        <div *ngIf="submitted && f.usuario.errors">
                            <div *ngIf="f.usuario.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El username es obligatorio.</div>
                        </div>
                    </div>
        
                    <div class="form-group" style="display: none">
                        <label>Correo Electrónico</label>
                        <input type="email" formControlName="correo" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }">
                        <div *ngIf="submitted && f.correo.errors">
                            <div *ngIf="f.correo.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El correo es obligatorio.</div>
                        </div>
                    </div>
    
    
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors">
                            <div *ngIf="f.password.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El password es obligatorio.</div>
                            <div *ngIf="f.password.errors.minlength" style="font-size: 9px; color: rgb(187, 18, 18)">El password debe tener al menos 8 caracteres.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Confirmar Contraseña</label>
                        <input type="password" formControlName="confirmPwd" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPwd.errors }">
                        <div *ngIf="submitted && f.confirmPwd.errors">
                            <div *ngIf="f.confirmPwd.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El password es obligatorio.</div>
                            <div *ngIf="f.confirmPwd.errors.minlength" style="font-size: 9px; color: rgb(187, 18, 18)">El password debe tener al menos 8 caracteres.</div>
                        </div>
                    </div>
        
                    <div class="form-group" style="display: none">
                        <label>Perfil Usuario</label>
                        <select formControlName="perfil_id" class="form-control" [value]='1'>
                            <option *ngFor="let perfil of perfilesAST" value="{{ perfil.id }}">{{ perfil.nombre }} </option>
                        </select>
                        <div *ngIf="submitted && f.perfil_id.errors">
                            <div *ngIf="f.perfil_id.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El perfil es obligatorio.</div>
                        </div>
                    </div>

    
                    <div class="form-group" style="display: none">
                        <label>Empresa</label>
                        <input type="number" formControlName="empresa_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empresa_id.errors }">
                        <div *ngIf="submitted && f.empresa_id.errors">
                            <div *ngIf="f.empresa_id.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El password es obligatorio.</div>
                        </div>
                    </div>
    
                    <div class="form-group" style="display: none;">
                        <label>Centro</label>
                        <input type="number" formControlName="centro_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.centro_id.errors }">
                        <div *ngIf="submitted && f.centro_id.errors">
                            <div *ngIf="f.centro_id.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">El password es obligatorio.</div>
                        </div>
                    </div>
    
                    <div class="form-group" style="display: none;">
                        <label>Estado</label>
                        <select formControlName="estado" class="form-control">
                            <option value="1" selected>Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                        <div *ngIf="submitted && f.estado.errors">
                            <div *ngIf="f.estado.errors.required" style="font-size: 9px; color: rgb(187, 18, 18)">Es necesario asignar un estado.</div>
                        </div>
                    </div>
        
                </div>
        
        
                <div class="col-sm">
                    
                </div>
    
                <div style="padding-top: 1em;">
                <button (click)="volver()" class="noselect" type="button"> <fa-icon [icon]="faBack"></fa-icon> Volver</button>
                <button type="submit" class="noselect"> <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
                </div>
        
            </form>
        </div>
</div>
