<div class="text-center" style="margin: 0 auto; margin-bottom: 1em;">
    <form [formGroup]="fechaForm" (ngSubmit)="onSubmit()">
        <input type="date" id="fecha_busqueda" formControlName="fecha" style="border-radius: 3px; border:rgb(44, 44, 44) 1px solid">
        <button type="submit" class="noselect">Seleccionar</button>
    </form>
</div>

<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="chartPresDataY" 
    [labels]="chartPresLabelY" 
    [chartType]="chartPresTypeY"
    [colors]="chartPresColorY"
    [options]="chartPresOptY"
    [plugins]="chartPresPluginsY"
    [legend]="chartPresLegendY">
    </canvas>
</div>

