
<div class="row blackness">
    <div class="col-md-8">
        <div class="row" style=" background-color: rgb(29, 29, 29); border-radius: 4px; padding: 0.5em; margin-top: 3px;" >
            <div class="col-6" style="font-size: 1em;"> Radar</div>
            <div class="col-2" style="font-size: 0.8em;">Eventos 15 min.</div>
            <div class="col-2" style="font-size: 0.8em;">Eventos 1 hora</div>
            <div class="col-2" style="font-size: 0.8em;">Eventos 24 horas</div>
        </div>
        <div class="row" *ngFor="let radar of datosRdr; let i = index" style=" cursor: pointer; background-color: rgb(56, 55, 56); border-radius: 6px; padding: 0.5em; margin-top: 3px;" >
            
            <div class="col-3" style="font-size: 1.45em;" [routerLink]="['/radar', radar.id_rdr]"> {{radar.nombre}}</div>
            <div class="col-1" style="font-size: 1.53em;"> <fa-icon style="font-size: 1.25em; color: rgb(248, 203, 0)" [icon]="faBell" (click)="openTodos(data)"></fa-icon></div>
            <div class="col-2" style="font-size: 1.53em;"> <fa-icon style="font-size: 1.25em; color: rgb(218, 52, 1)" [icon]="faAlert" (click)="openNoVistos(dataVistos)"></fa-icon>  {{radar.no_vistos}} </div>
            <div class="col-2" style="font-size: 1.75em;">{{radar.eventos_cuarto}}</div>
            <div class="col-2" style="font-size: 1.75em;">{{radar.eventos_hora}}</div>
            <div class="col-2" style="font-size: 1.75em;">{{radar.eventos_dia}}</div>

            <ng-template #dataVistos let-modal class="modal-dark bg-dark">
                <div class="bg-dark">
                    <app-view-no-views [id]="radar.id_rdr"></app-view-no-views>
                </div>
            </ng-template>

            <ng-template #data let-modal class="modal-dark bg-dark">
                <div class="bg-dark">
                    <app-view-alerts [id]="radar.id_rdr"></app-view-alerts>
                </div>
            </ng-template>

        </div>
    </div>
    <div class="col-md-4">
        <google-map
              height="550px"
              width="100%"
              [zoom]="zoom"
              [center]="center"
              [options]="options"
              >
                <map-marker
                #markerElem
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                ></map-marker>
            </google-map>
    </div>

</div>