<div *ngIf="_idPerfil > 2 && id_cent_est != _idCentroUser" style="user-select: none; padding-top: 0.7em;">
  <h4 style="color:slategray">Ud. No tiene autorización para ver este centro. Presione para volver.</h4>
</div>

<div *ngIf="_idPerfil == 2 && _idEmpresaCenter != _idEmpresaUser" style="user-select: none; padding-top: 0.7em;">
  <h4 style="color:slategray">Ud. No tiene autorización para ver este centro. Presione para volver.</h4>
</div>


<div *ngIf="flag == 0" style="user-select: none; padding-top: 0.7em;">
  <h4 style="color:slategray">La estación no esta disponible para su visualización.</h4>
</div>

<div *ngIf="id_cent_est && _idEmpresaCenter && flag == 1">
  <div *ngIf="(_idPerfil > 2 && id_cent_est == _idCentroUser) || (_idPerfil == 2 && _idEmpresaCenter == _idEmpresaUser) || _idPerfil == 1 && _idEmpresaCenter ">
    <div class="row blackness">
      <div class="col-md-6"><h1 *ngIf="radar">{{radar.nombre}} <span> <fa-icon (click)="openZone(dataZone)" [icon]="faInfo" style="color: rgb(255, 208, 0); cursor: pointer;"></fa-icon> </span> </h1></div>
      <div class="col-md-6">
        <button *ngIf="radar.url_video" class="noselect" (click)="miVideo()" >Video en Vivo</button>
        <iframe *ngIf="radar.url_video" [src]="urlVideo | safe: 'resourceUrl'" width="250px" height="auto" frameborder="0"></iframe>
      </div>
    </div>

    <div class="row blackness" style="user-select: none; padding-top: 0.3em;">
        <div class="col-md-6">
          <div class="row">
            <div class="col-2 text-center" style="border-right: rgb(98, 112, 125) 1px solid; vertical-align: middle;">
              <div style="display: block; width: 80%; margin: 0 auto">
                <span style="letter-spacing: 3px; font-weight: bold; text-transform: uppercase; font-size: 16pt; display: block; margin-bottom: 2px;">{{fechaShow[1]}}</span>
                <span style="letter-spacing: 3px; font-weight: bold; text-transform: uppercase; font-size: 2.5em; display: block;">{{fechaShow[2]}}</span>
                <span style="letter-spacing: 1px; font-weight: bold; text-transform: uppercase; font-size: 16pt; display: block; margin-bottom: 2px;">{{fechaShow[3]}}</span>        
              </div>
            </div>
            
            <div class="col-5">
              <span style="font-weight: bold; text-align: center;">Hora Actual</span>
              <span style="letter-spacing: 3px; font-weight: bold; text-transform: uppercase; font-size: 2.5em; display: block;">{{fechaShow[4]}}</span>
            </div>
      
            <div class="col-5">
              <div class="blackness text-center">
                <h4 class="titClima"> Mapa Histórico </h4>
                <form [formGroup]="fechaForm" (ngSubmit)="onSubmit()">
                  <input type="datetime-local" id="fecha_busqueda" min="2021-11-01" max="2022-12-31" formControlName="fecha" style="border-radius: 3px; border:rgb(44, 44, 44) 1px solid">
                  <button type="submit" class="noselect" (click)="openTable(dataNode)">Seleccionar</button>
                </form>
              </div>
            </div>
      
          </div>
        </div>
      
        <div class="col-md-6">
          <app-evento-total *ngIf="radar" [zonas]="zonasRdr" [serial]="radar.codigo"></app-evento-total>
        </div>
      </div>
    
    <div class="row blackness">
        <div class="col-md-8">
          <div class="row">
            <div class="col-8 w100">
              <google-map
              height="350px"
              width="100%"
              [zoom]="zoom"
              [center]="center"
              [options]="options"
              >
                <map-marker
                #markerElem
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                (mapClick)="clickedMarker(marker.position, marker.info)"
                ></map-marker>
                <map-marker
                #markerElem1
                *ngFor="let marker of lastMarkers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                (mapClick)="clickedMarker(marker.position, marker.info)"
                >
                </map-marker>
                <map-marker
                #markerElem
                *ngFor="let marker of trayMarkers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                
                >
                </map-marker>
              </google-map>
            </div>
            <div class="col-4 w100">
              <div #dataMarker class="card bg-dark" style="display: none; padding: 5px; width: 100%;">
                (<span style="color: chartreuse; font-weight: bold;">{{latCont}} </span>,
                <span style="color: chartreuse; font-weight: bold;">{{lonCont}}</span>) <br>
                <span style=" background-color: rgb(31, 145, 84); font-size: 9pt; text-transform: uppercase; padding: 3px; font-weight: bold;" *ngIf="claseContent=='person'">Persona</span>
                <span style=" background-color: rgb(18, 145, 150); font-size: 9pt; text-transform: uppercase; padding: 3px; font-weight: bold;" *ngIf="claseContent=='boatMedium'">Bote Mediano</span>
                <span style="display: block;">Fecha: {{fechaContent | fecha}}</span>
                <span style="display: block;">Distancia: {{distContent | truncar}} m</span>
                <span style="display: block;">Velocidad: {{velContent | truncar}} m/s</span>
                <span style="display: block;">Duración: {{timeContent}} s</span>
                <button style="display: block; cursor: pointer; background-color: rgb(240, 166, 8); font-size: 9pt; text-transform: uppercase; padding: 3px; font-weight: bold; color: black; border: none;" (click)="drawTray(id_header)">VER TRAYECTORIA</button>
              </div>
            </div>
          </div>
            

          <h4 class="titClima" style="margin-top: 1em;"> 
            Eventos - Últimas 24 horas</h4> 
          
          <!-- <app-evento-hora *ngIf="zonasRdr.length > 0" [zonas]="zonasRdr"></app-evento-hora> -->
          <app-evento-hora-total *ngIf="radar" [serial]="radar.codigo"></app-evento-hora-total>
          
          <h4 class="titClima"> 
             Eventos - Últimos 15 días</h4> 
  
          <app-evento-dia *ngIf="zonasRdr.length > 0" [zonas]="zonasRdr"></app-evento-dia>
    
        </div>
    
    

        <div class="col-md-4" style="margin-top: 1em;">
          <h4 class="titClima">Gráficas Duracion / Distancia</h4> 
          <div *ngFor="let zona of zonasRdr">
            <h4>{{zona.nombre}} </h4>
            <app-evento-duracion [id_data]="zona.cod_zona"></app-evento-duracion>
          </div>
        </div>

    </div>


    <div class="row blackness">
      <div *ngFor="let zona of zonasRdr">
        
        <h5>{{zona.nombre}}</h5>
        <app-zona-log [id_zona]="zona.cod_zona"></app-zona-log>

      </div>
    </div>
  </div>

</div>

<ng-template #dataNode let-modal class="modal-dark bg-dark">
  <app-map-hist *ngIf="fecha_data" [zonas]="zonasRdr" [fecha]="fecha_data" [latitud]="radar.latitud" [longitud]="radar.longitud"></app-map-hist>
</ng-template>

<ng-template #dataZone let-modal class="modal-dark bg-dark">
  <div class="bg-dark" style="padding: 5px;">
    <h3>Detalle de Zonas</h3>
    <ul>
      <li *ngFor="let zona of zonasRdr">{{zona.nombre}}: {{zona.descripcion}} </li>
    </ul>   
  </div>
</ng-template>


<!-- (mapClick)="openInfo(markerElem, marker.info)" -->
