<div class="lateral">
    <div *ngIf="_idPerfil < 3" style="width: 100%; padding-top: 85px;">
        <ul class="lat-menu">
            <li *ngIf="_idPerfil == 1" class="item" [routerLink]="['/empresas']"><fa-icon [icon]="faFish" class="iconList"></fa-icon>Empresas</li>
            <li class="item" [routerLink]="['/centros']"><fa-icon [icon]="faMapMarker" class="iconList"></fa-icon>Centros</li>
            <li class="item" [routerLink]="['/estaciones']"><fa-icon [icon]="faWeather" class="iconList"></fa-icon>Estaciones</li>
            <li class="item" [routerLink]="['/genpacks']"><fa-icon [icon]="faBattery" class="iconList"></fa-icon>Genpacks</li>
            <li class="item" [routerLink]="['/genpacks']"><fa-icon [icon]="faBolt" class="iconList"></fa-icon>Generadores</li>
            <li class="item" [routerLink]="['/radares']"><fa-icon [icon]="faShield" class="iconList"></fa-icon>Seguridad</li>
            <li class="item" [routerLink]="['/seguridad']"><fa-icon [icon]="faCog" class="iconList"></fa-icon>Configuración</li>
            <li class="item" [routerLink]="['/alertas']"><fa-icon [icon]="faAlert" class="iconList"></fa-icon>Alertas</li>
            <li class="item" [routerLink]="['/usuarios']"><fa-icon [icon]="faUsers" class="iconList"></fa-icon>Usuarios</li>
            <li class="item" (click)="logOut()"><fa-icon [icon]="faLogout" class="iconList"></fa-icon>Cerrar Sesión</li>
        </ul>
    </div>
    <div *ngIf="_idPerfil >= 3" style="width: 100%; padding-top: 85px;">
        <ul class="lat-menu">
            <li class="item" [routerLink]="['/estacion', itemCentro.id_estacion]"><fa-icon [icon]="faWeather" class="iconList"></fa-icon>Clima</li>
            <li class="item" [routerLink]="['/genpack', itemCentro.id_genpack]"><fa-icon [icon]="faBolt" class="iconList"></fa-icon>Energía</li>
            <li class="item" [routerLink]="['/radar', itemCentro.id_radar]"><fa-icon [icon]="faShield" class="iconList"></fa-icon>Seguridad</li>
            <li class="item"><fa-icon [icon]="faAlert" class="iconList"></fa-icon>Alertas</li>
            <li class="item" *ngIf="_idPerfil == 3"><fa-icon [icon]="faCog" class="iconList"></fa-icon>Configuración</li>
            <li class="item" (click)="logOut()"><fa-icon [icon]="faLogout" class="iconList"></fa-icon>Cerrar Sesión</li>
        </ul>
    </div>
    <div *ngIf="centro" class="text-center" style="font-weight: 700; font-family: Roboto, Arial, Helvetica, sans-serif;">
        {{centro.nombre}} <br>
        {{centro.comuna}}
    </div>
</div>
