<span style="letter-spacing: 2px; font-weight: bold; color: rgb(102, 164, 203); user-select: none; text-align: center;">ESTRIBOR</span>
<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="chartRollDataY" 
    [labels]="chartRollLabelY" 
    [chartType]="chartRollTypeY"
    [colors]="chartRollColorY"
    [options]="chartRollOptY"
    [plugins]="chartRollPluginsY"
    [legend]="chartRollLegendY">
    </canvas>
</div>
<span style="letter-spacing: 2px; font-weight: bold; color: rgb(102, 164, 203); user-select: none; text-align: center;">BABOR</span>