<div style="margin: 0 auto; height: 140px; overflow: hidden;">
    <radial-gauge
        type="radial-gauge"
        major-ticks="800,850,900,950,1000,1050,1100,1150,1200"
        minor-ticks="3"
        ticks-angle="180"
        start-angle="90"
        width="250"
        units="hPa"
        height="250"
        min-value="800"
        max-value="1200"
        stroke-ticks="false"
        highlights="false"
        color-plate="rgb(42, 42, 42, 0)"
        color-major-ticks="rgb(193, 209, 214)"
        color-minor-ticks="rgb(84, 144, 154)"
        color-numbers="#ccc"
        color-needle="#e0390b"
        color-needle-end="#e0390b"
        value-box="false"
        value-text-shadow="false"
        color-circle-inner="#111"
        color-needle-circle-outer="rgb(84, 144, 154)"
        needle-circle-size="7"
        needle-circle-outer="false"
        animation-rule="linear"
        needle-type="line"
        needle-start="0"
        needle-width="3"
        borders="true"
        border-inner-width="0"
        border-middle-width="0"
        border-outer-width="0"
        color-border-outer="#fff"
        color-border-outer-end="#000"
        color-needle-shadow-down="#111"
        border-shadow-width="0"
        animation-duration="800"
        animate-on-init="true"
        [attr.value] = "value"
    ></radial-gauge>
</div> <br>